body{
background:#F1F1F1;
font-family:'Bitter',serif;
font-style:normal;
font-size:11pt;
margin:0;
color:#231F20;
}

article h1{
color:#003366
}

article a{
color:#901A1E
}

article a[target="_blank"]{
text-decoration:overline;
}

article{
margin-left:175px;
width:33em
}

.tooltip{
width:33em;
cursor:pointer;
color:#901A1E
}

h1 a.margin{
display:inline-block;
width:175px;
text-align:right;
padding:0;
color:inherit;
font-size:inherit
}

a.margin{
float:left;
margin-left:-175px;
padding-left:10px;
color:#AAA;
font-size:10pt;
}

footer{
background:#231F20 url('logo.svg') no-repeat 10px 10px;
height:150px;
padding:10px 0 10px 175px;
color:white;
position:relative
}

footer address{
position:absolute;
bottom:10px
}

footer h2{
font:small-caps 15pt 'Time New Roman', Times, serif;
margin:0;
}

footer h1{
font:small-caps 20pt 'Time New Roman', Times, serif;
margin:0;
}

pre,var,code,tt{
font-size:12pt;
font-family:'Ubuntu Mono',monospace;
}

var{
font-style:normal;
}

code.listing{
background:#FFF;
border-left:2px solid #AAA;
display:block;
padding:2px 0 2px 4px;
}

code ol{
padding:0;
margin:0
}

code li{
font-size:10pt;
color:#AAA;
}

code pre{
display:inline;
font-size:12pt;
color:#231F20;
}

